{% extends "base.html" %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="notification is-danger">
    {{ messages[0] }}
</div>
{% endif %}
{% endwith %}
<form method="POST" action="/company">
    <div class="box">
        <form method="POST" action="/company">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="name" placeholder="Name" autofocus="">

                </div>
                </div>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="website" placeholder="Website" autofocus="">

                </div>
                </div>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="logo" placeholder="Logo" autofocus="">

                </div>
                </div>

            <button class="button is-block is-info is-large is-fullwidth">Salveaza</button>

        </form>

    </div>
</form>
{% endblock %}