{% extends "base.html" %}
{% block content %}

<form method="POST" action="/job">
    <div class="box">
        <form method="POST" action="/job">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="type" placeholder="Type" autofocus="">

                </div>
                </div>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="url" placeholder="URL" autofocus="">

                </div>
                </div>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="title" placeholder="Title" autofocus="">

                </div>
                </div>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="description" placeholder="Description" autofocus="">

                </div>
                </div>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="how_to_apply" placeholder="How to apply" autofocus="">

                </div>
                </div>
            <button class="button is-block is-info is-large is-fullwidth">Salveaza</button>

        </form>

    </div>
</form>
{% endblock %}