{% extends "base.html" %}
{% block content %}

<form method="POST" action="/location">
    <div class="box">
        <form method="POST" action="/location">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="location" placeholder="City" autofocus="">

                </div>
                </div>

            <button class="button is-block is-info is-large is-fullwidth">Salveaza</button>

        </form>

    </div>
</form>
{% endblock %}